# Ignore 
/app
/models
.env
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
*.class
*.pyc
*.o
*.obj
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
__pycache__/
*.py[cod]
node_modules/
.ipynb_checkpoints/
.kedro-local/
logs/
data/03_primary/
.svn/
.hg/
.idea/
/build/
/dist/
*Zone.Identifier